@import url(/assets/reset.css);

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 100vh;
}

.insta-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img {
    height: 42rem;
    transform: translateY(0);
    animation: imgAnimation 3s ease-in-out infinite;
}

.insta-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 15rem;
}

.group:nth-child(2) {
    min-height: 2rem;
    padding: 0 0;
}

.insta-logo {
    height: 2rem;
    width: 8rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.insta-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    transition: .5s ease-in-out;
}

.insta-login:hover{
    background-color: #077dcc;
    transform: scale(1.02);
}

.insta-logout {
    color: #0095f6;
    margin-top: 1rem;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.insta-logout:hover{
    transform: scale(1.1);
}

.not-acoount {
    color: rgb(160, 160, 160);
    margin: 0;
    margin-top: 1rem;
}

.link-blue{
    color: #0095f6;
    transition: .5s;
    margin: 0 10px 0 10px;
}

.link-blue:hover{
    cursor: pointer;
    font-weight: bold;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    font-weight: bolder;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
    background-position: center;
    transition: .1s;
}

.app-download:hover{
    transform: scale(1.02);
}

.app-download:nth-child(1){
    background-image: url("/img/AppleBTn.png");
}

.app-download:nth-child(2){
    background-image: url("/img/GoogleBtn.png");
}

/* Media queries */

@media (max-width: 1024px) {
    
    .instagram-wrapper{
        width: 90%;
    }


}



@media (max-width: 650px) {
    
    body{
        background-color: #fff;
    }

    .group{
        border: 1px solid transparent;
    }

    .instagram-wrapper{
        width: 90%;
    }

    .insta-phone{
        display: none;
    }

    .insta-continue{
        width: 100%;
    }

}

@keyframes imgAnimation{
    0%{transform: translateY(0);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0);}
}